*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
target
out
src/main/python/cifar-10-batches-py
src/main/python/cifar-10-python.tar.gz
src/main/python/clean
src/main/python/fishy
src/main/python/imagein.txt
src/main/python/imageout.txt
src/main/python/strings.txt
src/main/python/.ipynb_checkpoints